*{
    margin: 0;
    padding: 0;
}
body{
    color:black;
}
header{
    margin: 5rem;
    display: flex;
}
.picture{
    margin-left: 26rem;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
}
.details{
    align-content: center;
}
#name{
    font-size: 32px;
    text-decoration: underline;
}
.details div{
    font-size: 18px;
}
.career{
    margin: 2rem;
}
.prg{
    margin-top: 2rem;
}
.tech{
    margin-top: 2rem;
}
.stren{
    margin-top: 2rem;
}
.objective p{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 2rem;
}
table{
    text-align: center;
}
.tech ul li{
    margin-top: 10px;
}
.str{
    margin-top: 10px;
}